/*
Content page styles
*/

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: black;
    margin-top: 90px;
    margin-left: 60px;
    padding: 0;
    margin-bottom: 100px;
}
body h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.source {
    font-size: smaller;
    color: gray;
    text-decoration: none;
}