/*
Content page styles
*/

:root {
    --font-color: black;
    --font-family: Arial, sans-serif;
    --background-color: white;
    --color-1: antiquewhite;
}

body {
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: var(--background-color);
    margin-top: 30px;
    margin-left: 130px;
    padding: 0;
}