/*
Sidebar styles
*/

:root {
    --main-bg-color: #47A574;
    --main-bg-color-hover: #39845C;
    --border-color: black;
    --color: black;
}

/* PC */
@media only screen and (min-device-width: 750px) {
    #menu {
        background-color: var(--main-bg-color);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        width: 100%;
        position: fixed;
        z-index: 999999;
        top: 0;
        left: 0;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 3px solid var(--border-color);
    }
    #menu #menu-icon {
        display: none;
    }
    .groups {
        list-style-type: none;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
    .dropdown {
        float: left;
        min-width: 150px;
        padding: 10px 10px 10px 10px;
        user-select: none;
        cursor: default;
    }
    .dropdown-title {
        font-weight: bold;
        color: var(--color);
        font-size: 25px;
        display: flex;
        align-items: center;
    }
    .dropdown-title img {
        width: 30px;
        margin-right: 5px;
        transform: rotate(-90deg);
        transition: all .1s ease-in-out;
    }
    .dropdown:hover .dropdown-title img {
        transform: rotate(0deg);
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--main-bg-color);
        min-width: 300px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
        margin-top: 10px;
        margin-left: -10px;
        border: 2px solid var(--border-color);
        z-index: 999999;
    }
    .dropdown-content a {
        display: flex;
        align-items: center;
        padding: 10px 10px;
        text-decoration: none;
        color: var(--color);
        font-size: 20px;
    }
    .dropdown-content a img {
        margin-right: 8px;
        height: 25px;
    }
    .link {
        float: left;
        min-width: 150px;
        user-select: none;
        cursor: pointer;
        position: relative;
    }
    .link a {
        font-weight: bold;
        font-size: 25px;
        text-decoration: none;
        color: var(--color);
        padding: 10px 10px 11px 10px;
        display: flex;
        size: 100%;
    }
    #current {
        position: fixed;
        right: 0px;
        top: 0px;
        height: 50px;
        padding: 0 0 0 0;
        margin-right: 60px;
        font-weight: bold;
        font-style: italic;
        color: var(--color);
        font-size: 20px;
        display: flex;
        align-items: center;
        user-select: none;
        cursor: default;
    }
    #mdz-logo {
        width: 40px;
        position: fixed;
        right: 7px;
        top: 25px;
        transform: translateY(-50%);
    }
    .dropdown:hover {
        background-color: var(--main-bg-color-hover);
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
}

/* Handy */
@media only screen and (max-device-width: 750px) {
    #menu {
        background-color: var(--main-bg-color);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        width: 100%;
        height: 120px;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        border-bottom: 3px solid var(--border-color);
    }
    #menu #menu-icon {
        position: fixed;
        width: 100%;
        height: 120px;
    }
    #menu #menu-icon img {
        position: absolute;
        height: 60%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    #menu:hover .groups {
        display: block;
    }
    .groups {
        display: none;
        position: fixed;
        list-style-type: none;
        margin: 120px 0 0 0;
        padding: 20px 0 0 0;
        background-color: var(--main-bg-color);
        z-index: 999999;
        height: fit-content;
        width: 100%;
        border: 3px solid black;
    }
    .dropdown {
        width: 100%;
    }
    .dropdown-title {
        padding: 10px 10px 11px 10px;
        font-weight: bold;
        color: var(--color);
        font-size: 40px;
        display: flex;
        align-items: center;
        width: 100%;
    }
    .dropdown-title img {
        display: none;
    }
    .dropdown-content {
        margin: 0 0 0 30px;
    }
    .dropdown-content a {
        display: flex;
        align-items: center;
        padding: 10px 10px;
        text-decoration: none;
        color: var(--color);
        font-size: 40px;
    }
    .dropdown-content a img {
        margin-right: 8px;
        height: 35px;
    }
    .link {
        float: left;
        width: 100%;
        position: relative;
    }
    .link a {
        font-weight: bold;
        font-size: 40px;
        text-decoration: none;
        color: var(--color);
        padding: 10px 10px 11px 10px;
        display: flex;
        size: 100%;
    }
    #current, #mdz-logo {
        display: none;
    }
}

.dropdown-content a:hover {
    background-color: var(--main-bg-color-hover);
}
.link:hover {
    background-color: var(--main-bg-color-hover);
}