/*
Sidebar styles
*/

:root {
    --main-bg-color: #47A574;
    --main-bg-color-hover: #39845C;
    --border-color: black;
    --color: black;
}

#menu {
    background-color: var(--main-bg-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 3px solid var(--border-color);
}

.groups {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.dropdown {
    float: left;
    min-width: 250px;
    padding: 10px 10px 10px 10px;
    user-select: none;
    cursor: default;
}
.dropdown-title {
    font-weight: bold;
    color: var(--color);
    font-size: 30px;
    display: flex;
    align-items: center;
}
.dropdown-title img {
    width: 35px;
    margin-right: 10px;
    transform: rotate(-90deg);
    transition: all .1s ease-in-out;
}
.dropdown:hover .dropdown-title img {
    transform: rotate(0deg);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-bg-color);
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    margin-top: 10px;
    margin-left: -10px;
    border: 2px solid var(--border-color);
    z-index: 999999;
}
.dropdown-content a {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    text-decoration: none;
    color: var(--color);
    font-size: 25px;
}
.dropdown-content a img {
    margin-right: 8px;
    height: 35px;
}
.link {
    float: left;
    min-width: 250px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
.link a {
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: var(--color);
    padding: 10px 10px 11px 10px;
    display: flex;
    size: 100%;
}
#current {
    position: fixed;
    right: 0px;
    top: 0px;
    height: 56px;
    padding: 0 20px;
    font-weight: bold;
    font-style: italic;
    color: var(--color);
    font-size: 20px;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: default;
}

.dropdown-content a:hover {
    background-color: var(--main-bg-color-hover);
}
.dropdown:hover {
    background-color: var(--main-bg-color-hover);
}
.link:hover {
    background-color: var(--main-bg-color-hover);
}

.dropdown:hover .dropdown-content {
    display: block;
}