#wrapper {
    position: relative;
    height: 466px;
    width: 1000px;
    margin-bottom: 50px;
}
#map {
    position: absolute;
    height: 466px;
    width: 1000px;
}
#overlay {
    position: absolute;
    height: 466px;
    width: 1000px;
    opacity: 50%;
    z-index: 2;
}
#source_map {
    position: absolute;
    color: gray;
    font-size: smaller;
    font-style: italic;
    bottom: -39px;
}
.oepnv_icon {
    position: absolute;
    bottom: 0px;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    background-color: white;
    display: block;
    cursor: pointer;
    z-index: 3;
    -webkit-user-drag: none;
}
.oepnv_icon:hover {
    background-color: lightgray;
}
#legende_all:hover #legende {
    display: block;
}
#legende {
    position: absolute;
    display: none;
    z-index: 3;
    bottom: 0;
    right: 52px;
    padding: 10px 15px 10px 15px;
    background-color: white;
    border: 2px solid black;
    user-select: none;
}
#legende div {
    margin: 5px 0 5px 0;
}
#pin {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 3;
    top: 142px;
    left: 493px;
}

ul {
    margin-block-start: 8px;
    margin-block-end: 0px;
}

#preload-1 { background: url(../assets/images/map_oepnv.png) no-repeat -9999px -9999px; }
#preload-2 { background: url(../assets/images/map_car.png) no-repeat -9999px -9999px; }
#preload-3 { background: url(../assets/images/map_bicycle.png) no-repeat -9999px -9999px; }
