#image-switch {
    position: relative;
}

.switch-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(80, 80, 80, 0.56);
    border-radius: 30px;
    overflow: hidden;
    width: 30%;
    text-align: left;
    padding: .5%;
    margin-top: 1%;
}
#winter_label,#summer_label {
    position: relative;
    width: 50%;
    text-align: center;
    font-size: 50%;
}
#summer_label {
    float: left;
}
#winter_label {
    float: right;
}

.switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.switch-button-checkbox:checked + .switch-button-label:before {
     transform: translateX(100%);
     transition: transform 300ms ease-in-out;
}

.switch-button-label:before {
     content: "";
     background: #cbcbcb;
     height: 100%;
     width: 50%;
     position: absolute;
     left: 0;
     top: 0;
     /*border-radius: 30px;*/
     transform: translateX(0);
     transition: transform 300ms;
 }



.graph {
    margin-bottom:1em;
    font:normal 100%/150% arial,helvetica,sans-serif;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.graph caption {
    font:bold 150%/120% arial,helvetica,sans-serif;
    padding-bottom:0.33em;
    /*height: 40%;*/
    position: relative;
}

.graph tbody th {
    text-align:right;
}

@supports (display:grid) {

    @media (min-width:40em) {

        .graph {
            display:block;
            width:70%;

            /*height:500px;*/
            /*height: 100%;*/
        }

        .graph caption {
            display:block;
            /*height: 40%;*/
        }

        .graph thead {
            display:none;
        }

        .graph tbody {
            position:relative;
            display:grid;
            grid-template-columns:repeat(auto-fit, minmax(2em, 1fr));
            column-gap:2.5%;
            align-items:end;
            height:300px;
            margin:3em 0 1em 2.8em;
            padding:0 1em;
            border-bottom:2px solid rgba(0,0,0,0.5);
            background:repeating-linear-gradient(
                    180deg,
                    rgba(170,170,170,0.7) 0,
                    rgba(170,170,170,0.7) 1px,
                    transparent 1px,
                    transparent 20%
            );
        }

        .graph tbody:before,
        .graph tbody:after {
            position:absolute;
            left:-3.2em;
            width:2.8em;
            text-align:right;
            font:bold 80%/120% arial,helvetica,sans-serif;
        }

        .graph tbody:before {
            content:"50";
            top:-0.6em;
        }

        .graph tbody:after {
            content:"0";
            bottom:-0.6em;
        }

        .graph tr {
            position:relative;
            display:block;
            transition: height .25s ease-in-out;
        }

        .graph tr:hover {
            z-index:999;
        }

        .graph th,
        .graph td {
            display:block;
            text-align:center;
        }

        .graph tbody th {
            position:absolute;
            top:-3em;
            left:0;
            width:100%;
            font-weight:normal;
            text-align:center;
            white-space:nowrap;
            text-indent:0;
            transform:rotate(-45deg);
        }

        .graph tbody th:after {
            content:"";
        }

        .graph td {
            width:100%;
            height:100%;
            background:var(--main-bg-color-hover);
            border-radius:0.5em 0.5em 0 0;
            transition:background 0.5s;
        }

        .graph tr:hover td {
            opacity:0.7;
        }

        .graph td span {
            overflow:hidden;
            position:absolute;
            left:50%;
            top:50%;
            width:0;
            padding:0.5em 0;
            margin:-1em 0 0;
            font:normal 85%/120% arial,helvetica,sans-serif;
            font-size: larger;
            /* 			background:white; */
            /* 			box-shadow:0 0 0.25em rgba(0,0,0,0.6); */
            font-weight:bold;
            opacity:0;
            transition:opacity 0.5s;
            color:black;
        }

        .toggleGraph:checked + table td span,
        .graph tr:hover td span {
            width:4em;
            margin-left:-2em; /* 1/2 the declared width */
            opacity:1;
        }






    } /* min-width:32em */

} /* grid only */