#map {
    margin: 0;
    padding: 0;
    position: relative;
    --circle-size: 50px; /* Absolute value (e.g. 25px) */
    --map-scale: 1; /* Relative value, (e.g. 1 = width of 698px) */
}

.circle {
    position: absolute;
    width: var(--circle-size);
    height: var(--circle-size);
    margin: calc(-0.5 * var(--circle-size));
    background-color: red;
    border-radius: 50%;
    opacity: 50%;
    transition: all .1s ease-in-out;
}
.circle:hover {
    transform: scale(2, 2);
}

#c0 {
    left: calc(254px * var(--map-scale));
    top: calc(429px * var(--map-scale));
}
#c1 {
    left: calc(380px * var(--map-scale));
    top: calc(332px * var(--map-scale));
}
#c2 {
    left: calc(373px * var(--map-scale));
    top: calc(152px * var(--map-scale));
}
#c3 {
    left: calc(455px * var(--map-scale));
    top: calc(80px * var(--map-scale));
}
#c4 {
    left: calc(502px * var(--map-scale));
    top: calc(105px * var(--map-scale));
}
.grid-container {
    display: grid;
    grid-template-columns: 340px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    /*background-color: #2196F3;*/
    /*padding: 10px;*/
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    display: flex;
    /*text-align: center;*/
    justify-content: center;
}
html{
    scroll-behavior:smooth;
}