.wrapper {
    position: relative;
    margin-bottom: 30px;
}
.wrapper img {
    width: 1000px;
    opacity: 30%;
}
.wrapper i {
    display: block;
}
.result {
    margin-top: 100px;
    margin-left: 100px;
    font-size: 50px;
    font-weight: bold;
    font-style: oblique;
}
#result {
    font-size: 30px;
    font-style: italic;
    width: 994px;
    text-align: center;
    background-color: gold;
}

.question {
    position: absolute;
    z-index: 1;
    margin-left: 30px;
    font-size: 30px;
}
.question input {
    transform: scale(1.5);
    vertical-align: 4px;
    margin-bottom: 20px;
}

#button {
    position: relative;
    margin-top: 30px;
    margin-bottom: 100px;
    width: 1000px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #87ceeb;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid black;
    user-select: none;
}
#button:hover {
    background-color: #62c1e0;
    cursor: pointer;
}

#infos {
    margin-top: 30px;
}