.question-wrapper {
    position: relative;
    margin-bottom: 2%;
    max-width: 800px;
    left: 50%;
    transform: translateX(-50%);
}
.question-wrapper img {
    width: 100%;
    opacity: 30%;
}
.question-wrapper .question {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 100%;
    text-align: left;
    font-size: min(3.5vmin, 50px);
    z-index: 1;
    font-weight: bold;
}
.question-wrapper .question input {
    transform: scale(150%);
    vertical-align: 30%;
}
.question-wrapper .question .result {
    font-size: min(5vmin, 70px);
    font-weight: bold;
    font-style: oblique;
    width: 100%;
    text-align: center;
}

#result {
    max-width: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: min(3.5vmin, 50px);
    font-style: italic;
    text-align: center;
    margin: 0 0 2% 0;
}
#button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 800px;
    text-align: center;
    background-color: var(--main-bg-color);
    padding: 1.5vmin 0;
    font-size: 3.5vmin;
    font-weight: bold;
    border: 3px solid black;
    user-select: none;
}
#button:hover {
    background-color: var(--main-bg-color-hover);
    cursor: pointer;
}



.graph {
    margin-bottom:1em;
    font:normal 100%/150% arial,helvetica,sans-serif;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 90px;
}

.graph caption {
    font:bold 150%/120% arial,helvetica,sans-serif;
    padding-bottom:0.33em;
    /*height: 40%;*/
    position: relative;
}

.graph tbody th {
    text-align:right;
}

@supports (display:grid) {

    @media (min-width:40em) {

        .graph {
            display:block;
            width:70%;

            /*height:500px;*/
            /*height: 100%;*/
        }

        .graph caption {
            display:block;
            /*height: 40%;*/
        }

        .graph thead {
            display:none;
        }

        .graph tbody {
            position:relative;
            display:grid;
            grid-template-columns:repeat(auto-fit, minmax(2em, 1fr));
            column-gap:2.5%;
            align-items:end;
            height:300px;
            margin:3em 0 1em 2.8em;
            padding:0 1em;
            border-bottom:2px solid rgba(0,0,0,0.5);
            background:repeating-linear-gradient(
                    180deg,
                    rgba(170,170,170,0.7) 0,
                    rgba(170,170,170,0.7) 1px,
                    transparent 1px,
                    transparent 20%
            );
        }

        .graph tbody:before,
        .graph tbody:after {
            position:absolute;
            left:-3.2em;
            width:2.8em;
            text-align:right;
            font:bold 80%/120% arial,helvetica,sans-serif;
        }

        #graph2 tbody:before {
            content:"5,00%";
            top:-0.6em;
        }

        #graph2 tbody:after {
            content:"0,00%";
            bottom:-0.6em;
        }
        #graph1 tbody:before {
            content:"1600";
            top:-0.6em;
        }
        #graph1 tbody:after {
            content:"0";
            bottom:-0.6em;
        }

        .graph tr {
            position:relative;
            display:block;
            transition: height .25s ease-in-out;
        }

        .graph tr:hover {
            z-index:999;
        }

        .graph th,
        .graph td {
            display:block;
            text-align:center;
        }

        .graph tbody th {
            position:absolute;
            top:-3em;
            left:0;
            width:100%;
            font-weight:normal;
            text-align:center;
            white-space:nowrap;
            text-indent:0;
            /*transform:rotate(-45deg);*/
        }

        .graph tbody th:after {
            content:"";
        }

        .graph td {
            width:100%;
            height:100%;
            background:var(--main-bg-color-hover);
            border-radius:0.5em 0.5em 0 0;
            transition:background 0.5s;
        }

        .graph tr:hover td {
            opacity:0.7;
        }

        .graph td span {
            overflow:hidden;
            position:absolute;
            left:50%;
            top:50%;
            width:0;
            padding:0.5em 0;
            margin:-1em 0 0;
            font:normal 85%/120% arial,helvetica,sans-serif;
            font-size: larger;
            /* 			background:white; */
            /* 			box-shadow:0 0 0.25em rgba(0,0,0,0.6); */
            font-weight:bold;
            opacity:0;
            transition:opacity 0.5s;
            color:black;
        }

        .toggleGraph:checked + table td span,
        .graph tr:hover td span {
            width:4em;
            margin-left:-2em; /* 1/2 the declared width */
            opacity:1;
        }






    } /* min-width:32em */

} /* grid only */