.question-wrapper {
    position: relative;
    margin-bottom: 2%;
    max-width: 800px;
    left: 50%;
    transform: translateX(-50%);
}
.question-wrapper img {
    width: 100%;
    opacity: 30%;
}
.question-wrapper .question {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 100%;
    text-align: left;
    font-size: min(3.5vmin, 50px);
    z-index: 1;
}
.question-wrapper .question input {
    transform: scale(150%);
    vertical-align: 40%;
}
.question-wrapper .question .result {
    font-size: min(5vmin, 70px);
    font-weight: bold;
    font-style: oblique;
    width: 100%;
    text-align: center;
}

#result {
    max-width: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: min(3.5vmin, 50px);
    font-style: italic;
    text-align: center;
    margin: 0 0 2% 0;
}
#button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 800px;
    text-align: center;
    background-color: var(--main-bg-color);
    padding: 1.5vmin 0;
    font-size: 3.5vmin;
    font-weight: bold;
    border: 3px solid black;
    user-select: none;
}
#button:hover {
    background-color: var(--main-bg-color-hover);
    cursor: pointer;
}